@inherits LayoutComponentBase

<PageTitle>longevity 1.0</PageTitle>

<header class="navbar navbar-expand-lg bg-light-subtle sticky-top container-xl">
    <NavMenu />
</header>
<div class="page container-xl bd-gutter bd-layout">
    <main>
        @*<div class="top-row px-4 auth">
            <LoginDisplay />
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
